---
import NavigationBar from "../components/NavigationBar.astro"
import Footer from "../components/Footer.astro"
import "../styles/globals.css"
---

<html lang="en" class="text-black bg-cream-2">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link
      rel="preload"
      href="/fonts/Geist.woff2"
      as="font"
      type="font/woff2"
      crossorigin
    />
    <title>Anthony Marinov</title>
    <meta
      name="description"
      content="Structural Engineering, Computer Science at UCSD. Previously at Amazon."
    />
    <meta name="author" content="Anthony Marinov" />
    <meta name="canonical" content="https://www.anthonymarinov.com" />
    <meta name="og:title" content="Anthony Marinov" />
    <meta
      name="og:description"
      content="Structural Engineering, Computer Science at UCSD. Previously at Amazon."
    />
    <meta name="og:url" content="https://www.anthonymarinov.com" />
    <meta name="og:site_name" content="Anthony Marinov" />
    <meta name="theme-color" content="#111010" />
    <meta name="darkreader-lock" />
  </head>

  <body class="antialiased max-w-7xl flex flex-col md:flex-row mx-4 mt-8 lg:mx-auto font-geist bg-cream-2 min-h-screen overflow-x-hidden">
    <div class="flex-auto min-w-0 flex flex-col px-2 md:px-0">
      <NavigationBar />
      <main class="flex-1">
        <slot />
      </main>
      <Footer />
    </div>
  </body>
</html>
